<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="anzen_client_log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="anzen-desktop-client.log" />
		<param name="Append" value="TRUE" />
		<param name="MaxFileSize" value="5MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<appender name="shishya_log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="shishya-client.log" />
		<param name="Append" value="TRUE" />
		<param name="MaxFileSize" value="3MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<appender name="ports_log" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="ports-client.log" />
		<param name="Append" value="TRUE" />
		<param name="MaxFileSize" value="3MB" />
		<param name="MaxBackupIndex" value="5" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d %-5p [%c{1}] %m %n" />
		</layout>
	</appender>
	
	<logger name="com.frontier.shishya" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="shishya_log" />
	</logger>
	
	<logger name="com.frontier.ports" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="ports_log" />
	</logger>
	
	<logger name="anzen.client" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="anzen_client_log" />
	</logger>

</log4j:configuration>